.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
h5{
  color: rgb(24, 132, 175);
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.spinner-border {
  position: fixed;
	top: 45%;
	left: 50%;
;}

.modal-image{
  max-height: 150px !important;
  float: left;
  width:  150px;
  height: 150px;
  background-size: cover;
  padding-left: 8px;

} 
 .imgcard {
  float: left;
  background-size: cover;
  padding: 8px;
  margin: 5px;

} 
.img-upload{
  padding-left: 8px;
  margin: 5px;
  float: center;
}
h3{
  color: rgba(90, 4, 18, 0.925);
  text-align: center;

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
